# LP3 : Assignment 2 - Decision Tree

### Import required libraries and load the dataset

In [32]:
import pandas as pd
df = pd.read_csv("C:/Users/prerna/Downloads/Dataset - Sheet1.csv")
df

    ID    Age Income Gender Marital Status Buys
0    1    <21   High      M         Single   No
1    2    <21   High      M        Married   No
2    3  21-35   High      M        Single   Yes
3    4    >35    Med      M         Single  Yes
4    5    >35   Low       F         Single  Yes
5    6    >35   Low       F        Married   No
6    7  21-35   Low       F        Married  Yes
7    8    <21    Med      M         Single   No
8    9    <21   Low       F        Married  Yes
9   10    >35    Med      F         Single  Yes
10  11    <21    Med      F        Married  Yes
11  12  21-35    Med      M        Married  Yes
12  13  21-35   High      F         Single  Yes
13  14    >35    Med      M        Married   No

### Import DecisionTreeClassifier from scikit learn

In [33]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()

### Replace the nominal attributes with numeric
As we know that to generate a decision tree, we need numeric data. So replace the string values with appropriate numbers

In [35]:
df.Income.replace(["Low ","Med","High"],[0,1,2],inplace =True)

In [37]:
df["Marital Status"].replace(["Single","Married"],[0,1],inplace=True)

In [38]:
df.Gender.replace(["M","F"],[1,0],inplace=True)

In [39]:
df.Age.replace(["<21","21-35",">35"],[0,1,2],inplace=True)

In [40]:
df

    ID  Age  Income  Gender  Marital Status Buys
0    1    0       2       1               0   No
1    2    0       2       1               1   No
2    3    1       2       1               0  Yes
3    4    2       1       1               0  Yes
4    5    2       0       0               0  Yes
5    6    2       0       0               1   No
6    7    1       0       0               1  Yes
7    8    0       1       1               0   No
8    9    0       0       0               1  Yes
9   10    2       1       0               0  Yes
10  11    0       1       0               1  Yes
11  12    1       1       1               1  Yes
12  13    1       2       0               0  Yes
13  14    2       1       1               1   No

### Seperate the dependent(labels) and independent("Age","Income","Gender","Marital Status") variables

In [41]:
features = df[["Age","Income","Gender","Marital Status"]]
labels = df.Buys

### Train the classifier on the data

In [42]:
clf.fit(features,labels)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

## Predict the outcome for the values 
## [Age<21, Income=Low, Gender=Female, Marital Status=Married]

In [43]:
clf.predict([[0,0,0,1]])

array(['Yes'], dtype=object)

## The Predicted value for given output is "Yes"